
<!-- //add the nav bar
//add two hyperlink addmenu item----if u click on this--addmenu item component 
//displaymenuitem -->
<div class="container">
    <h1>Welcome to the Admin Homepage</h1>
   
  </div>
<nav   class="routerr">
    <a routerLink="/menuitem" routerLinkActive="active">Add Menu Item</a><br/><br/>
    <a routerLink="/displaymenuitem" routerLinkActive="active">Display Menu Item</a>
    <a routerLink="/cafestaff" routerLinkActive="active">Cafe Staff</a>
    <a routerLink="/inventory" routerLinkActive="active">Inventory</a>
    <a routerLink="/order" routerLinkActive="active">Order</a>
    <a routerLink="/pay" routerLinkActive="active">Payment</a>
    <a routerLink="/showreport" routerLinkActive="active">Reports</a>
  </nav>
  
 
  